@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    a::after {
        content: none;
    }

    .menu-links a {
        font-size: 1.5rem;
    }

    .logo {
        min-height: 2.5rem;
        min-width: 5rem;
    }

    .product-picture img{
        height: 400px;
    }

    .image-container {
        height: 400px;
    }

}

@media screen and (max-width: 800px) {
    .menu-links a {
        font-size: 1rem;
    }

    .product-picture img {
        height: 300px;
    }

    #product-slider {
        margin-right: 10px;
        margin-left: 10px;
    }

    .camera {
        height: 100px;
        width: 100px;
    }

    .instax-message {
        font-size: 2rem;
    }

    .camera-turn-arounds {
        height: 15rem;
    }

    .camera-turn-arounds h2 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .cameras-container {
        grid-template-columns: 10rem 10rem;
        grid-template-rows: 15rem 15rem;
    }

    .camera-image-container img.camera-turn {
        transition: none;
    }

    .camera-image-container:hover img.camera-turn {
        opacity: 0;
    }

    #specification {
        margin-left: 10px;
        margin-right: 10px;
    }

    .specification-container {
        background-image: url("./assets/Pink.png");
        height: 300px;
        width: 290px;
    }
}