@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    a::after {
        content: none;
    }

    .logo {
        min-height: 2.5rem;
        min-width: 5rem;
    }

    #product-view {
        height: 60vh;
    }

}

@media screen and (max-width: 800px) {
    .camera {
        height: 100px;
        width: 100px;
    }
}