@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Desktop Navigation styles */

#desktop-nav {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.5);
}

#desktop-nav:hover {
    background-color: rgba(224, 224, 224, 0.5);
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    width: max-content;
    position: relative;
    font-size: 1.5rem;
}

a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #272727;
    transition: 300ms;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}

a:hover::after {
    transform: scaleX(1)
}

.logo {
    height: 5vh;
    min-width: 5vw;
    background-position: center;
    background-size: cover;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Hamburger Menu styles */

#hamburger-nav {
    display: none;
    z-index: 1;
    background-color: white;
    transition: background-color 300ms ease-in-out;
}


.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 100ms ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 100ms ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

section {
    padding-top: 4vh;
    padding-bottom: 10vh;
    height: auto;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* Product View styles */

#product-view {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.product-picture img {
    height: 600px;
}

/* Product slider */

#product-slider {
    margin-top: 20vh;
}

.camera:nth-child(2) {
    transition-delay: 200ms;
}
.camera:nth-child(3) {
    transition-delay: 300ms;
}
.camera:nth-child(4) {
    transition-delay: 400ms;
}
.camera:nth-child(5) {
    transition-delay: 500ms;
}
.camera:nth-child(6) {
    transition-delay: 600ms;
}
.camera:nth-child(7) {
    transition-delay: 700ms;
}
.camera:last-child {
    transition-delay: 800ms;
}

.camera-line-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.camera {
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.camera.white {
    margin-left: -1px;
}

.camera.turquoise {
    margin-left: -1px;
}

.camera.pink {
    margin-left: -1px;
}

.camera.yellow {
    margin-left: -1px
}

.camera.red {
    margin-left: -1px;
}

.instax-message {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
    font-size: 4rem;
    animation: color-change 5s infinite;
    text-align: center;
}

/* Camera Turn-around part */

.cameras-container {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 20rem 20rem;
    justify-content: center;
    gap: 20px;
}

.camera-turn-arounds {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    height: 20rem;
    background-color: white;
}

.camera-image-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.camera-image-container img.camera-turn {
    position: absolute;
    opacity: 0;
    transition: opacity .2s;
}

.camera-image-container:hover img.camera-turn {
    opacity: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color:hover{
    cursor: pointer;
    animation: background-change 2s infinite;
    color: rgb(231, 228, 228);
}

/* Specification Part */

#specification {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instructions-mobile {
    display: none;
}

.instructions.hidden {
    transform: translateY(-100%);
    transition-delay: 600ms;
    opacity: 0;
    filter: blur(5px);
}

.instructions.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.specification-container {
    position: relative;
    background-image: url("./assets/specifications.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 580px;
}


.btn-specification button:first-child {
    position: absolute;
    top: 10%;  
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:nth-child(2) {
    position: absolute;
    top: 22%;
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:nth-child(3) {
    position: absolute;
    top: 41%;
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:nth-child(4) {
    position: absolute;
    left: 94%;
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:nth-child(5) {
    position: absolute;
    top: 18%;
    left: 94%;
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:nth-child(6) {
    position: absolute;
    top: 34%;
    left: 94%;
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:nth-child(7) {
    position: absolute;
    top: 63%;
    left: 94%;
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:nth-child(8) {
    position: absolute;
    top: 75%;
    left: 94%;
    padding: 15px;
    opacity: 0.04;
    z-index: 1;
    border: none;
    animation: background-change 3s infinite;
}

.btn-specification button:hover {
    cursor: pointer;
}

.info-container {
    position: relative;
    z-index: 2;
}

#first-info, 
#second-info, 
#third-info, 
#fourth-info, 
#fifth-info, 
#sixth-info,
#seventh-info,
#eigth-info {
    display: none;
    text-align: center;
    flex-direction: row;
    background-color: white;
}

.spec-info {
    height: 100%;
}

.spec-info img{
    width: 40%;
}

.specification-exit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.specification-exit span{
    width: 100%;
    height: 2px;
    background-color: black;
}

.specification-exit span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.specification-exit span:nth-child(2) {
    opacity: 0;
}

.specification-exit span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* Accessories part */

.accessory-turn-arounds {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    text-align: center;
    height: 20rem;
    background-color: white;
}

.accessory-buttons {
    display: grid;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 5rem 5rem;
    justify-content: center;
    gap: 20px;
}

.accessory-buttons button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border:rgb(53, 53, 53) 0.1rem solid;
}

.mobile-accessories {
    display: none;
}

#cases,
#bags,
#photo-album,
#photo-frame,
#selfie-mirror {
    display: none;
}


.showcase {
    position: absolute;
    right: 20%;
    left: 20%;
}

.showcase img {
    position: absolute;
    animation: rotate-in-out 4s linear infinite;
}

.showcase img:nth-of-type(1) {
    animation-delay: 0s;
}

.showcase img:nth-of-type(2) {
    animation-delay: 1s;
}

.showcase img:nth-of-type(3) {
    animation-delay: 2s;
}

.showcase img:nth-of-type(4) {
    animation-delay: 3s;
}


.showcase img:nth-of-type(2),
.showcase img:nth-of-type(3),
.showcase img:nth-of-type(4) {
    opacity: 0;
}

.title-button-container {
    margin-top: 10rem;
    position: relative;
    z-index: 1;
    text-align: center;
}

.camera-line-up.cases,
.camera-line-up.bags,
.camera-line-up.photo-album,
.camera-line-up.photo-frame,
.camera-line-up.selfie-mirror{
    gap: 2.5rem;
}

.accessory-hover-animation {
    position: relative;
}

.accessory-hover-animation.case-1 .btn-color,
.accessory-hover-animation.case-2 .btn-color,
.accessory-hover-animation.case-3 .btn-color,
.accessory-hover-animation.case-4 .btn-color,
.accessory-hover-animation.bag-1 .btn-color,
.accessory-hover-animation.bag-2 .btn-color,
.accessory-hover-animation.bag-3 .btn-color,
.accessory-hover-animation.bag-4 .btn-color,
.accessory-hover-animation.photo-album-1 .btn-color,
.accessory-hover-animation.photo-album-2 .btn-color,
.accessory-hover-animation.photo-album-3 .btn-color,
.accessory-hover-animation.photo-album-4 .btn-color,
.accessory-hover-animation.photo-frame-1 .btn-color,
.accessory-hover-animation.photo-frame-2 .btn-color,
.accessory-hover-animation.selfie-mirror-1 .btn-color,
.accessory-hover-animation.selfie-mirror-2 .btn-color,
.accessory-hover-animation.selfie-mirror-3 .btn-color,
.accessory-hover-animation.selfie-mirror-4 .btn-color {
    position: absolute;
    top: 4rem;
    right: 2.5rem;
    opacity: 0;
    transition: opacity .2s;
}

.accessory-hover-animation.case-1:hover .btn-color,
.accessory-hover-animation.case-2:hover .btn-color,
.accessory-hover-animation.case-3:hover .btn-color,
.accessory-hover-animation.case-4:hover .btn-color,
.accessory-hover-animation.bag-1:hover .btn-color,
.accessory-hover-animation.bag-2:hover .btn-color,
.accessory-hover-animation.bag-3:hover .btn-color,
.accessory-hover-animation.bag-4:hover .btn-color,
.accessory-hover-animation.photo-album-1:hover .btn-color,
.accessory-hover-animation.photo-album-2:hover .btn-color,
.accessory-hover-animation.photo-album-3:hover .btn-color,
.accessory-hover-animation.photo-album-4:hover .btn-color,
.accessory-hover-animation.photo-frame-1:hover .btn-color,
.accessory-hover-animation.photo-frame-2:hover .btn-color,
.accessory-hover-animation.selfie-mirror-1:hover .btn-color,
.accessory-hover-animation.selfie-mirror-2:hover .btn-color,
.accessory-hover-animation.selfie-mirror-3:hover .btn-color,
.accessory-hover-animation.selfie-mirror-4:hover .btn-color,
.accessory-hover-animation.case-1:focus .btn-color,
.accessory-hover-animation.case-2:focus .btn-color,
.accessory-hover-animation.case-3:focus .btn-color,
.accessory-hover-animation.case-4:focus .btn-color,
.accessory-hover-animation.bag-1:focus .btn-color,
.accessory-hover-animation.bag-2:focus .btn-color,
.accessory-hover-animation.bag-3:focus .btn-color,
.accessory-hover-animation.bag-4:focus .btn-color,
.accessory-hover-animation.photo-album-1:focus .btn-color,
.accessory-hover-animation.photo-album-2:focus .btn-color,
.accessory-hover-animation.photo-album-3:focus .btn-color,
.accessory-hover-animation.photo-album-4:focus .btn-color,
.accessory-hover-animation.photo-frame-1:focus .btn-color,
.accessory-hover-animation.photo-frame-2:focus .btn-color,
.accessory-hover-animation.selfie-mirror-1:focus .btn-color,
.accessory-hover-animation.selfie-mirror-2:focus .btn-color,
.accessory-hover-animation.selfie-mirror-3:focus .btn-color,
.accessory-hover-animation.selfie-mirror-4:focus .btn-color,
.accessory-hover-animation.case-1:active .btn-color,
.accessory-hover-animation.case-2:active .btn-color,
.accessory-hover-animation.case-3:active .btn-color,
.accessory-hover-animation.case-4:active .btn-color,
.accessory-hover-animation.bag-1:active .btn-color,
.accessory-hover-animation.bag-2:active .btn-color,
.accessory-hover-animation.bag-3:active .btn-color,
.accessory-hover-animation.bag-4:active .btn-color,
.accessory-hover-animation.photo-album-1:active .btn-color,
.accessory-hover-animation.photo-album-2:active .btn-color,
.accessory-hover-animation.photo-album-3:active .btn-color,
.accessory-hover-animation.photo-album-4:active .btn-color,
.accessory-hover-animation.photo-frame-1:active .btn-color,
.accessory-hover-animation.photo-frame-2:active .btn-color,
.accessory-hover-animation.selfie-mirror-1:active .btn-color,
.accessory-hover-animation.selfie-mirror-2:active .btn-color,
.accessory-hover-animation.selfie-mirror-3:active .btn-color,
.accessory-hover-animation.selfie-mirror-4:active .btn-color {
    opacity: 1;
}

.accessory-hover-animation.case-1 .camera,
.accessory-hover-animation.case-2 .camera,
.accessory-hover-animation.case-3 .camera,
.accessory-hover-animation.case-4 .camera,
.accessory-hover-animation.bag-1 .camera,
.accessory-hover-animation.bag-2 .camera,
.accessory-hover-animation.bag-3 .camera,
.accessory-hover-animation.bag-4 .camera,
.accessory-hover-animation.photo-album-1 .camera,
.accessory-hover-animation.photo-album-2 .camera,
.accessory-hover-animation.photo-album-3 .camera,
.accessory-hover-animation.photo-album-4 .camera,
.accessory-hover-animation.photo-frame-1 .camera,
.accessory-hover-animation.photo-frame-2 .camera,
.accessory-hover-animation.selfie-mirror-1 .camera,
.accessory-hover-animation.selfie-mirror-2 .camera,
.accessory-hover-animation.selfie-mirror-3 .camera,
.accessory-hover-animation.selfie-mirror-4 .camera {
    opacity: 1;
    transition: opacity .2s;
}

.accessory-hover-animation.case-1:hover .camera,
.accessory-hover-animation.case-2:hover .camera,
.accessory-hover-animation.case-3:hover .camera,
.accessory-hover-animation.case-4:hover .camera,
.accessory-hover-animation.bag-1:hover .camera,
.accessory-hover-animation.bag-2:hover .camera,
.accessory-hover-animation.bag-3:hover .camera,
.accessory-hover-animation.bag-4:hover .camera,
.accessory-hover-animation.photo-album-1:hover .camera,
.accessory-hover-animation.photo-album-2:hover .camera,
.accessory-hover-animation.photo-album-3:hover .camera,
.accessory-hover-animation.photo-album-4:hover .camera,
.accessory-hover-animation.photo-frame-1:hover .camera,
.accessory-hover-animation.photo-frame-2:hover .camera,
.accessory-hover-animation.selfie-mirror-1:hover .camera,
.accessory-hover-animation.selfie-mirror-2:hover .camera,
.accessory-hover-animation.selfie-mirror-3:hover .camera,
.accessory-hover-animation.selfie-mirror-4:hover .camera,
.accessory-hover-animation.case-1:focus .camera,
.accessory-hover-animation.case-2:focus .camera,
.accessory-hover-animation.case-3:focus .camera,
.accessory-hover-animation.case-4:focus .camera,
.accessory-hover-animation.bag-1:focus .camera,
.accessory-hover-animation.bag-2:focus .camera,
.accessory-hover-animation.bag-3:focus .camera,
.accessory-hover-animation.bag-4:focus .camera,
.accessory-hover-animation.photo-album-1:focus .camera,
.accessory-hover-animation.photo-album-2:focus .camera,
.accessory-hover-animation.photo-album-3:focus .camera,
.accessory-hover-animation.photo-album-4:focus .camera,
.accessory-hover-animation.photo-frame-1:focus .camera,
.accessory-hover-animation.photo-frame-2:focus .camera,
.accessory-hover-animation.selfie-mirror-1:focus .camera,
.accessory-hover-animation.selfie-mirror-2:focus .camera,
.accessory-hover-animation.selfie-mirror-3:focus .camera,
.accessory-hover-animation.selfie-mirror-4:focus .camera,
.accessory-hover-animation.case-1:active .camera,
.accessory-hover-animation.case-2:active .camera,
.accessory-hover-animation.case-3:active .camera,
.accessory-hover-animation.case-4:active .camera,
.accessory-hover-animation.bag-1:active .camera,
.accessory-hover-animation.bag-2:active .camera,
.accessory-hover-animation.bag-3:active .camera,
.accessory-hover-animation.bag-4:active .camera,
.accessory-hover-animation.photo-album-1:active .camera,
.accessory-hover-animation.photo-album-2:active .camera,
.accessory-hover-animation.photo-album-3:active .camera,
.accessory-hover-animation.photo-album-4:active .camera,
.accessory-hover-animation.photo-frame-1:active .camera,
.accessory-hover-animation.photo-frame-2:active .camera,
.accessory-hover-animation.selfie-mirror-1:active .camera,
.accessory-hover-animation.selfie-mirror-2:active .camera,
.accessory-hover-animation.selfie-mirror-3:active .camera,
.accessory-hover-animation.selfie-mirror-4:active .camera {
    opacity: 0;
}

/* Films part */

.films-container {
    display: grid;
    position: relative;
    justify-content: center;
    gap: 50px;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem 15rem 15rem 15rem 15rem;
}

.camera-image-container.film-1,
.camera-image-container.film-2,
.camera-image-container.film-3,
.camera-image-container.film-4,
.camera-image-container.film-6,
.camera-image-container.film-7,
.camera-image-container.film-8,
.camera-image-container.film-9,
.camera-image-container.film-10,
.camera-image-container.film-11,
.camera-image-container.film-12,
.camera-image-container.film-13,
.camera-image-container.film-14,
.camera-image-container.film-15,
.camera-image-container.film-16,
.camera-image-container.film-17,
.camera-image-container.film-18,
.camera-image-container.film-19,
.camera-image-container.film-20,
.camera-image-container.film-21 {
    position: relative;
}

.film-size {
    height: 100%;
}

.film-button {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-300%);
    transition: all .5s;
}

.camera-image-container.film-1 img.film-size,
.camera-image-container.film-2 img.film-size,
.camera-image-container.film-3 img.film-size,
.camera-image-container.film-4 img.film-size,
.camera-image-container.film-5 img.film-size,
.camera-image-container.film-6 img.film-size,
.camera-image-container.film-7 img.film-size,
.camera-image-container.film-8 img.film-size,
.camera-image-container.film-9 img.film-size,
.camera-image-container.film-10 img.film-size,
.camera-image-container.film-11 img.film-size,
.camera-image-container.film-12 img.film-size,
.camera-image-container.film-13 img.film-size,
.camera-image-container.film-14 img.film-size,
.camera-image-container.film-15 img.film-size,
.camera-image-container.film-16 img.film-size,
.camera-image-container.film-17 img.film-size,
.camera-image-container.film-18 img.film-size,
.camera-image-container.film-19 img.film-size,
.camera-image-container.film-20 img.film-size,
.camera-image-container.film-21 img.film-size {
    transition: all .5s;
}

.camera-image-container.film1:hover img.film-size, 
.camera-image-container.film2:hover img.film-size, 
.camera-image-container.film3:hover img.film-size, 
.camera-image-container.film4:hover img.film-size, 
.camera-image-container.film5:hover img.film-size, 
.camera-image-container.film6:hover img.film-size, 
.camera-image-container.film7:hover img.film-size, 
.camera-image-container.film8:hover img.film-size, 
.camera-image-container.film9:hover img.film-size, 
.camera-image-container.film10:hover img.film-size, 
.camera-image-container.film11:hover img.film-size, 
.camera-image-container.film12:hover img.film-size, 
.camera-image-container.film13:hover img.film-size, 
.camera-image-container.film14:hover img.film-size, 
.camera-image-container.film15:hover img.film-size, 
.camera-image-container.film16:hover img.film-size, 
.camera-image-container.film17:hover img.film-size, 
.camera-image-container.film18:hover img.film-size, 
.camera-image-container.film19:hover img.film-size, 
.camera-image-container.film20:hover img.film-size, 
.camera-image-container.film21:hover img.film-size,
.camera-image-container.film1:focus img.film-size,
.camera-image-container.film2:focus img.film-size,
.camera-image-container.film3:focus img.film-size,
.camera-image-container.film4:focus img.film-size,
.camera-image-container.film5:focus img.film-size,
.camera-image-container.film6:focus img.film-size,
.camera-image-container.film7:focus img.film-size,
.camera-image-container.film8:focus img.film-size,
.camera-image-container.film9:focus img.film-size,
.camera-image-container.film10:focus img.film-size,
.camera-image-container.film11:focus img.film-size,
.camera-image-container.film12:focus img.film-size,
.camera-image-container.film13:focus img.film-size,
.camera-image-container.film14:focus img.film-size,
.camera-image-container.film15:focus img.film-size,
.camera-image-container.film16:focus img.film-size,
.camera-image-container.film17:focus img.film-size,
.camera-image-container.film18:focus img.film-size,
.camera-image-container.film19:focus img.film-size,
.camera-image-container.film20:focus img.film-size,
.camera-image-container.film21:focus img.film-size,
.camera-image-container.film1:active img.film-size,
.camera-image-container.film2:active img.film-size,
.camera-image-container.film3:active img.film-size,
.camera-image-container.film4:active img.film-size,
.camera-image-container.film5:active img.film-size,
.camera-image-container.film6:active img.film-size,
.camera-image-container.film7:active img.film-size,
.camera-image-container.film8:active img.film-size,
.camera-image-container.film9:active img.film-size,
.camera-image-container.film10:active img.film-size,
.camera-image-container.film11:active img.film-size,
.camera-image-container.film12:active img.film-size,
.camera-image-container.film13:active img.film-size,
.camera-image-container.film14:active img.film-size,
.camera-image-container.film15:active img.film-size,
.camera-image-container.film16:active img.film-size,
.camera-image-container.film17:active img.film-size,
.camera-image-container.film18:active img.film-size,
.camera-image-container.film19:active img.film-size,
.camera-image-container.film20:active img.film-size,
.camera-image-container.film21:active img.film-size {
    opacity: 0;
}

.camera-image-container.film1:hover button.film-button, 
.camera-image-container.film2:hover button.film-button, 
.camera-image-container.film3:hover button.film-button, 
.camera-image-container.film4:hover button.film-button, 
.camera-image-container.film5:hover button.film-button, 
.camera-image-container.film6:hover button.film-button, 
.camera-image-container.film7:hover button.film-button, 
.camera-image-container.film8:hover button.film-button, 
.camera-image-container.film9:hover button.film-button, 
.camera-image-container.film10:hover button.film-button, 
.camera-image-container.film11:hover button.film-button, 
.camera-image-container.film12:hover button.film-button, 
.camera-image-container.film13:hover button.film-button, 
.camera-image-container.film14:hover button.film-button, 
.camera-image-container.film15:hover button.film-button, 
.camera-image-container.film16:hover button.film-button, 
.camera-image-container.film17:hover button.film-button, 
.camera-image-container.film18:hover button.film-button, 
.camera-image-container.film19:hover button.film-button,
.camera-image-container.film20:hover button.film-button, 
.camera-image-container.film21:hover button.film-button,
.camera-image-container.film1:focus button.film-button,
.camera-image-container.film2:focus button.film-button,
.camera-image-container.film3:focus button.film-button,
.camera-image-container.film4:focus button.film-button,
.camera-image-container.film5:focus button.film-button,
.camera-image-container.film6:focus button.film-button,
.camera-image-container.film7:focus button.film-button,
.camera-image-container.film8:focus button.film-button,
.camera-image-container.film9:focus button.film-button,
.camera-image-container.film10:focus button.film-button,
.camera-image-container.film11:focus button.film-button,
.camera-image-container.film12:focus button.film-button,
.camera-image-container.film13:focus button.film-button,
.camera-image-container.film14:focus button.film-button,
.camera-image-container.film15:focus button.film-button,
.camera-image-container.film16:focus button.film-button,
.camera-image-container.film17:focus button.film-button,
.camera-image-container.film18:focus button.film-button,
.camera-image-container.film19:focus button.film-button,
.camera-image-container.film20:focus button.film-button,
.camera-image-container.film21:focus button.film-button,
.camera-image-container.film1:active button.film-button,
.camera-image-container.film2:active button.film-button,
.camera-image-container.film3:active button.film-button,
.camera-image-container.film4:active button.film-button,
.camera-image-container.film5:active button.film-button,
.camera-image-container.film6:active button.film-button,
.camera-image-container.film7:active button.film-button,
.camera-image-container.film8:active button.film-button,
.camera-image-container.film9:active button.film-button,
.camera-image-container.film10:active button.film-button,
.camera-image-container.film11:active button.film-button,
.camera-image-container.film12:active button.film-button,
.camera-image-container.film13:active button.film-button,
.camera-image-container.film14:active button.film-button,
.camera-image-container.film15:active button.film-button,
.camera-image-container.film16:active button.film-button,
.camera-image-container.film17:active button.film-button,
.camera-image-container.film18:active button.film-button,
.camera-image-container.film19:active button.film-button,
.camera-image-container.film20:active button.film-button,
.camera-image-container.film21:active button.film-button {
    transform: translateY(-200%);
    opacity: 1;
    filter: blur(0);
    transition-delay: 200ms;
}

@keyframes rotate-in-out {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


@keyframes background-change {
    0% {
        background: black;
    }

    12.5% {
        background: grey;
    }

    25% {
        background: turquoise;
    }

    37.5% {
        background: pink;
    }

    50% {
        background: yellow;
    }

    62.5% {
        background: purple;
    }

    75% {
        background: red;
    }

    100% {
        background: lightskyblue;
    }
}

@keyframes color-change {
    0% {
        color: black;
    }

    12.5% {
        color: grey;
    }

    25% {
        color: turquoise;
    }

    37.5% {
        color: pink;
    }

    50% {
        color: yellow;
    }

    62.5% {
        color: purple;
    }

    75% {
        color: red;
    }

    100% {
        color: lightskyblue;
    }
}
